/*CSS for responsive menu*/

/*Defining variables*/
:root{
    --nav-height: 4rem; 
    --nav-bkgd-color: rgb(219,146,0); 
    --nav-text-color: white; 
    font-family: 'franchise', sans-serif; 
    --nav-hover-bkgd-color: lightgray; 
    --nav-hover-text-color: black; 
}

*{
    box-sizing: border-box;
}

body{
  margin: 0; 
  padding: var(--nav-height) 0 0 0; 
}
nav{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: var(--nav-height); 
    background-color: var(--nav-bkgd-color); 
    max-width: 100vw; 
}

#navBurger{
  position: relative; 
  display:block; 
  font-size: 3rem; 
  color: var(--nav-text-color); 
  padding: 0.1em 0 0 0.3em;
  max-height: 3rem; 
}

nav ul{
  position: relative; 
  background-color: var(--nav-bkgd-color); 
  list-style: none; 
  margin: 0; 
  padding: 0; 
}

nav > ul{
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 1s;  
}

nav.clicked>ul{
  max-height: 90vh; 
}

nav>ul>li{
  position: relative; 
  background-color: var(--nav-bkgd-color); 
  display:block; 
  margin: 1rem;
}

nav>ul>li>a{
  display: block; 
  width: 100%; 
  height: 100%; 
  padding: 0.5rem; 
}

nav>ul>li>ul{
  margin: 0 0 0 0.5rem; 
  background-color: inherit; 
}

nav > ul> li> ul> li{
  padding: 0.5rem 0 0.5rem 0.5rem; 

}

nav a {
  text-decoration: none; 
  color: var(--nav-hover-text-color); 
}

nav.li > hover a{
  color: var(--nav-hover-text-color); 
}
nav.li > hover{
  background-color: var(--nav-hover-bkgd-color); 
}
body{
  background-color: rgb(44, 43, 51); 
}

body#cast main{
  display: grid; 
  grid-template-columns: repeat(3, auto); 
  grid-template-rows: repeat(6, auto); 
  grid-template-areas: 
    '. title .'
    'aPic sPic Apic'
    'angela shayne amanda'
    'iPic anPic cPic'
    'ian anthony courtney'
    'kPic dPic oPic'
    'keith damien olivia'
    'chPic arPic tPic'
    'chanse arasha trevor'
    'nPic tommPic spPic'
    'noah tommy spencer';
}
#cast #castTitleRow{
  grid-area: title; 
  margin-left: 30%; 
}
#cast #castTitleRow #header1{
  font-size: 3.2em; 
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif; 
}
#cast #angPic{
  grid-area: aPic; 
  margin-left: 30%; 
}
#cast #shaynePic{
  grid-area: sPic; 
  margin-left: 5%; 
}
#cast #amandaPic{
  grid-area: APic; 
  margin-left: 5%; 
}
#cast #ianPic{
  grid-area: iPic; 
  margin-left: 30%; 
}
#cast #anthPic{
  grid-area: anPic; 
  margin-left: 5%; 
}
#cast #courtPic{
  grid-area: cPic; 
  margin-left: 5%; 
}
#cast #keithPic{
  grid-area: kPic; 
  margin-left: 30%; 
}
#cast #damienPic{
  grid-area: dPic; 
  margin-left: 5%; 
}
#cast #oliviaPic{
  grid-area: oPic; 
  margin-left: 5%; 
}
#cast #chansePic{
  grid-area: chPic; 
  margin-left: 30%; 
}
#cast #arashPic{
  grid-area: arPic; 
  margin-left: 5%; 
}
#cast #trevPic{
  grid-area: tPic; 
  margin-left: 5%; 
}
#cast #noahPic{
  grid-area: nPic; 
  margin-left: 30%; 
}
#cast #tomPic{
  grid-area: tommPic; 
  margin-left: 5%; 
}
#cast #spencPic{
  grid-area: spPic; 
  margin-left: 5%; 
}
