/*CSS for responsive menu*/

/*Defining variables*/
:root{
    --nav-height: 4rem; 
    --nav-bkgd-color: rgb(219,146,0); 
    --nav-text-color: white; 
    font-family: 'franchise', sans-serif; 
    --nav-hover-bkgd-color: lightgray; 
    --nav-hover-text-color: black; 
}

*{
    box-sizing: border-box;
}

body{
  margin: 0; 
  padding: var(--nav-height) 0 0 0; 
}
nav{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: var(--nav-height); 
    background-color: var(--nav-bkgd-color); 
    max-width: 100vw; 
}

#navBurger{
  position: relative; 
  display:block; 
  font-size: 3rem; 
  color: var(--nav-text-color); 
  padding: 0.1em 0 0 0.3em;
  max-height: 3rem; 
}

nav ul{
  position: relative; 
  background-color: var(--nav-bkgd-color); 
  list-style: none; 
  margin: 0; 
  padding: 0; 
}

nav > ul{
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 1s;  
}

nav.clicked>ul{
  max-height: 90vh; 
}

nav>ul>li{
  position: relative; 
  background-color: var(--nav-bkgd-color); 
  display:block; 
  margin: 1rem;
}

nav>ul>li>a{
  display: block; 
  width: 100%; 
  height: 100%; 
  padding: 0.5rem; 
}

nav>ul>li>ul{
  margin: 0 0 0 0.5rem; 
  background-color: inherit; 
}

nav > ul> li> ul> li{
  padding: 0.5rem 0 0.5rem 0.5rem; 

}

nav a {
  text-decoration: none; 
  color: var(--nav-hover-text-color); 
}

nav.li > hover a{
  color: var(--nav-hover-text-color); 
}
nav.li > hover{
  background-color: var(--nav-hover-bkgd-color); 
}
body{
  background-color: rgb(44, 43, 51); 
}

.grid-container{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 20px; 
}

.grid-item{
  font-size: 1.5em; 
  color: var(--nav-bkgd-color); 
  font-family: 'franchise', sans-serif; 
  margin-left: 30%; 
}

.grid-item #angPic{
  position: relative; 
  justify-items: center; 
  margin-left: -13%; 
   width: 20vw; 
   height: 40vh; 
   background-image: url("angela_smosh.webp");
   background-size: cover; 
   background-position:center center;
   animation: fadeOut linear;
   animation-timeline: view();  
}

.grid-item #shaynePic{
  position: relative; 
  justify-items: center; 
  margin-left: -20%; 
   width: 20vw; 
   height: 40vh; 
   background-image: url("Shayne-Topp.jpg");
   background-size: cover; 
   background-position:center center;
   animation: fadeOut linear;
   animation-timeline: view();  
}

.grid-item #amandaPic{
   position: relative; 
  justify-items: center; 
  margin-left: -20%; 
  object-fit: cover; 
   max-width: 18vw; 
   height: 40vh; 
   background-image: url("amanda.jpg");
   background-size: cover; 
   background-position:center center;
   animation: fadeOut linear;
   animation-timeline: view();  
}
.grid-item #ianPic{
   position: relative; 
  justify-items: center; 
  margin-left: -20%; 
  object-fit: cover; 
   max-width: 20vw; 
   height: 40vh; 
   background-image: url("ian.jpg");
   background-size: cover; 
   background-position:center center;
   animation: fadeIn linear;
   animation-timeline: view();  
}

.grid-item #anthPic{
   position: relative; 
  justify-items: center; 
  margin-left: -20%; 
  object-fit: cover; 
   max-width: 20vw; 
   height: 40vh; 
   background-image: url("anthony.webp");
   background-size: cover; 
   background-position:center center;
   animation: fadeIn linear;
   animation-timeline: view();  
}

.grid-item #courtPic{
 position: relative; 
  justify-items: center; 
  margin-left: -20%; 
  object-fit: cover; 
   max-width: 18vw; 
   height: 40vh; 
   background-image: url("courtney.jpg");
   background-size: cover; 
   background-position:center center;
   animation: fadeIn linear;
   animation-timeline: view();  
}
#cast #castTitleRow #header1{
  font-size: 3.2em; 
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif; 
  text-align: center; 
}

.grid-item #keithPic{
   position: relative; 
  justify-items: center; 
  margin-left: -20%; 
  object-fit: cover; 
   max-width: 20vw; 
   height: 40vh; 
   background-image: url("keith.jpg");
   background-size: cover; 
   background-position:center center;
   animation: fadeIn linear;
   animation-timeline: view();  
}

.grid-item #damienPic{
   position: relative; 
  justify-items: center; 
  margin-left: -20%; 
  object-fit: cover; 
   max-width: 20vw; 
   height: 40vh; 
   background-image: url("damien.webp");
   background-size: cover; 
   background-position:center center;
   animation: fadeIn linear;
   animation-timeline: view();  
}

@keyframes fadeOut{
  from {scale: 1.8; opacity: 1;}
  to {scale: 0.3; opacity: 1;}
}

@keyframes fadeIn{
  from {scale: 0.3; opacity: 1;}
  to {scale: 1.2; opacity: 1;}
}
