/*CSS for responsive menu*/
/*Laptop*/


/*Defining variables*/
:root{
    --nav-height: 4rem; 
    --nav-bkgd-color: rgb(219,146,0); 
    --nav-text-color: white; 
    font-family: 'franchise', sans-serif; 
    --nav-hover-bkgd-color: lightgray; 
    --nav-hover-text-color: white; 
}

*{
    box-sizing: border-box;
}

body{
  margin: 0; 
  padding: var(--nav-height) 0 0 0; 
}
/****************/
/*Navigation Bar Styling*/
nav{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: var(--nav-height); 
    background-color: var(--nav-bkgd-color); 
    max-width: 900vw; 
    z-index: 99; 
}

#navBurger{
  position: relative; 
  display:block; 
  font-size: 3rem; 
  color: var(--nav-text-color); 
  padding: 0.1em 0 0 0.3em;
  max-height: 3rem; 
}

nav ul{
  position: relative; 
  background-color: var(--nav-bkgd-color); 
  list-style: none; 
  margin: 0; 
  padding: 0; 
}

nav > ul{
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 1s;  
}

nav.clicked>ul{
  max-height: 90vh; 
}

nav>ul>li{
  position: relative; 
  background-color: var(--nav-bkgd-color); 
  display:block; 
  margin: 1rem;
}

nav>ul>li>a{
  display: block; 
  width: 100%; 
  height: 100%; 
  padding: 0.5rem; 
}

nav>ul>li>ul{
  margin: 0 0 0 0.5rem; 
  background-color: inherit; 
}

nav > ul> li> ul> li{
  padding: 0.5rem 0 0.5rem 0.5rem; 

}

nav a {
  text-decoration: none; 
  color: var(--nav-hover-text-color); 
}

nav.li > hover a{
  color: var(--nav-hover-text-color); 
}
/************/

/*defining the background color of the page*/
body{
  background-color: rgb(44, 43, 51); 
}

/*Page Information Grid Layout*/
body#home main{
  display: grid; 
  grid-template-columns: repeat(3, auto); 
  grid-template-rows: repeat(6, auto); 
  grid-template-areas: 
    '. title .'
    '. pic .'
    '. about .'
    '. recordPic .'
    '. history .';
}

#home #footer{
  color: orange; 
}

/*Assigning written sections to grid layout*/
#home #titleRow{
  grid-area: title; 
  position: relative; 
}
#home #aboutRow{
  grid-area: about; 
}
#home #showPic{
      grid-area: pic; 
    position: relative; 
    margin-left: 22%; 
   width: 52vw; 
   height: 70vh; 
   background-image: url('images/the-smosh-family-v0-9j4p9uamztxc1.webp');
   background-size: auto; 
   background-position:center center;
   animation: fadeIn linear;
   animation-timeline: view();  
     background-repeat:no-repeat;  
}
#home #showPicRecords{
  grid-area: recordPic; 
    position: relative; 
    margin-left: 30%; 
   width: 35vw; 
   height: 60vh; 
   background-image: url('images/We_Broke_A_REAL_World_Record_YTCP_2.webp');
   background-size: auto; 
   background-position:center center;
   animation: fadeIn2 linear;
   animation-timeline: view();
    background-repeat:no-repeat;   
}
#home #titleRow{
  grid-area: title; 
  margin-left: 45%; 
}
#home #titleRow #header1{
  font-size: 3.2em; 
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif; 
}
#home #historyRow{
  grid-area: history; 
}
/*****************************/
/*Styling about Smosh section*/
#home #aboutRow #aboutHeader{
  font-size: 1.8em; 
  color: var(--nav-bkgd-color);  
  font-family: 'franchise', sans-serif; 
  margin-left: 20%; 
}
#home #aboutRow #aboutPara1{
  font-size: 1.3em;
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif;
  margin-left: 21%; 
  margin-right: 20%;  
}
#home #aboutRow #aboutPara2{
     font-size: 1.3em;
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif;
  margin-left: 21%; 
  margin-right: 20%;
}
#home #aboutRow #aboutPara3{
     font-size: 1.3em;
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif;
  margin-left: 21%; 
  margin-right: 20%;
}
/*****************************/

/*Styling Achievments section*/ 
#home #historyRow #historyHeader{
  font-size: 1.8em; 
  color: var(--nav-bkgd-color);  
  font-family: 'franchise', sans-serif; 
  margin-left: 20%; 
}
.achievmentsList{
  font-size: 1.3em;
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif;
  margin-left: 21%; 
  margin-right: 20%; 
}
/*****************************/

/*Styling world Records Section*/
#home #historyRow #worldRecords{
  font-size: 1.8em; 
  color: var(--nav-bkgd-color);  
  font-family: 'franchise', sans-serif; 
  margin-left: 20%;
}
.worldRecordsList{
  font-size: 1.3em;
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif;
  margin-left: 21%; 
  margin-right: 20%;
}
.worldRecordsList li{
  margin-bottom: 4%;
}
/*****************************/


/*Animations for the images based on scrolling view; scales images up and down*/
@keyframes fadeIn{
  from {scale: 1.5; opacity: 1;}
  to {scale: 0.4; opacity: 1;}
}
@keyframes fadeIn2{
  from {scale: 0.6; opacity: 1;}
  to {scale: 1; opacity: 1;}
}

/*Mobile repsonsive design*/ 
@media screen and (max-width: 600px) {
  nav{
   width: 105%
  }
  #home #titleRow{
   margin-left:27%; 
  }
  #home #showPic{
   width: 100%; 
    margin-left:0%; 
    height: 0; 
    padding-bottom: 55%; 
    background-size: contain; 
    background-repeat: no-repeat; 
  }

  #home #showPicRecords{
    width: 100%; 
    margin-left: 0%; 
  }
  
  #home #aboutRow #aboutHeader{
  margin-left: 10%; 
  }
  #home #aboutRow #aboutPara1{
    font-size: 1.1em;
    margin-left: 13%; 
    margin-right: 5%; 
  }
  #home #aboutRow #aboutPara2{
    font-size: 1.1em;
    margin-left: 13%; 
    margin-right: 5%; 
  }
  #home #aboutRow #aboutPara3{
    font-size: 1.1em;
    margin-left: 13%; 
    margin-right: 5%; 
  }
  #home #historyRow #historyHeader{
    margin-left: 10%; 
  }
  .achievmentsList{
    margin-left: 5%; 
    margin-right: 5%;
    font-size:1.1em; 
  }

  #home #historyRow #worldRecords{
    margin-left: 10%; 
  }

  #home #showPicRecords{
     width: 100%; 
    margin-left:0%; 
    height: 0; 
    padding-bottom: 55%; 
    background-size: contain; 
    background-repeat: no-repeat; 
  }

  .worldRecordsList li{
    margin-left: -30%; 
    margin-right: -20%;
    font-size: 0.8em; 
    margin-bottom: 20%; 
  }
  /*Made image animation smaller scale*/
  @keyframes fadeIn{
  from {scale: 2.1; opacity: 1;}
  to {scale: 0.4; opacity: 1;}
  }
}