/*CSS for responsive menu*/
/*Laptop*/


/*Defining variables*/
:root{
    --nav-height: 4rem; 
    --nav-bkgd-color: rgb(219,146,0); 
    --nav-text-color: white; 
    font-family: 'franchise', sans-serif; 
    --nav-hover-bkgd-color: lightgray; 
    --nav-hover-text-color: white; 
}

*{
    box-sizing: border-box;
}

body{
  margin: 0; 
  padding: var(--nav-height) 0 0 0; 
}
/****************/
/*Navigation Bar Styling*/
nav{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: var(--nav-height); 
    background-color: var(--nav-bkgd-color); 
    max-width: 900vw; 
    z-index: 99; 
}

#navBurger{
  position: relative; 
  display:block; 
  font-size: 3rem; 
  color: var(--nav-text-color); 
  padding: 0.1em 0 0 0.3em;
  max-height: 3rem; 
}

nav ul{
  position: relative; 
  background-color: var(--nav-bkgd-color); 
  list-style: none; 
  margin: 0; 
  padding: 0; 
}

nav > ul{
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 1s;  
}

nav.clicked>ul{
  max-height: 90vh; 
}

nav>ul>li{
  position: relative; 
  background-color: var(--nav-bkgd-color); 
  display:block; 
  margin: 1rem;
}

nav>ul>li>a{
  display: block; 
  width: 100%; 
  height: 100%; 
  padding: 0.5rem; 
}

nav>ul>li>ul{
  margin: 0 0 0 0.5rem; 
  background-color: inherit; 
}

nav > ul> li> ul> li{
  padding: 0.5rem 0 0.5rem 0.5rem; 

}

nav a {
  text-decoration: none; 
  color: var(--nav-hover-text-color); 
}

nav.li > hover a{
  color: var(--nav-hover-text-color); 
}
/************/

/*defining the background color of the page*/
body{
  background-color: rgb(44, 43, 51); 
}

/*Page Information Grid Layout*/
body#home main{
  display: grid; 
  grid-template-columns: repeat(3, auto); 
  grid-template-rows: repeat(6, auto); 
  grid-template-areas: 
    '. title .'
    '. pic .'
    '. about .'
    '. recordPic .'
    '. history .';
}

#home #footer{
  color: orange; 
}

/*Assigning written sections to grid layout*/
#home #titleRow{
  grid-area: title; 
  position: relative; 
}
#home #aboutRow{
  grid-area: about; 
}
#home #showPic{
      grid-area: pic; 
    position: relative; 
    margin-left: 22%; 
   width: 52vw; 
   height: 70vh; 
   background-image: url('images/the-smosh-family-v0-9j4p9uamztxc1.webp');
   background-size: auto; 
   background-position:center center;
   animation: fadeIn linear;
   animation-timeline: view();  
     background-repeat:no-repeat;  
}
#home #showPicRecords{
  grid-area: recordPic; 
    position: relative; 
    margin-left: 30%; 
   width: 35vw; 
   height: 60vh; 
   background-image: url('images/We_Broke_A_REAL_World_Record_YTCP_2.webp');
   background-size: auto; 
   background-position:center center;
   animation: fadeIn2 linear;
   animation-timeline: view();
    background-repeat:no-repeat;   
}
#home #titleRow{
  grid-area: title; 
  margin-left: 45%; 
}
#home #titleRow #header1{
  font-size: 3.2em; 
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif; 
}
#home #historyRow{
  grid-area: history; 
}
/*****************************/
/*Styling about Smosh section*/
#home #aboutRow #aboutHeader{
  font-size: 1.8em; 
  color: var(--nav-bkgd-color);  
  font-family: 'franchise', sans-serif; 
  margin-left: 20%; 
}
#home #aboutRow #aboutPara1{
  font-size: 1.3em;
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif;
  margin-left: 21%; 
  margin-right: 20%;  
}
#home #aboutRow #aboutPara2{
     font-size: 1.3em;
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif;
  margin-left: 21%; 
  margin-right: 20%;
}
#home #aboutRow #aboutPara3{
     font-size: 1.3em;
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif;
  margin-left: 21%; 
  margin-right: 20%;
}
/*****************************/

/*Styling Achievments section*/ 
#home #historyRow #historyHeader{
  font-size: 1.8em; 
  color: var(--nav-bkgd-color);  
  font-family: 'franchise', sans-serif; 
  margin-left: 20%; 
}
.achievmentsList{
  font-size: 1.3em;
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif;
  margin-left: 21%; 
  margin-right: 20%; 
}
/*****************************/

/*Styling world Records Section*/
#home #historyRow #worldRecords{
  font-size: 1.8em; 
  color: var(--nav-bkgd-color);  
  font-family: 'franchise', sans-serif; 
  margin-left: 20%;
}
.worldRecordsList{
  font-size: 1.3em;
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif;
  margin-left: 21%; 
  margin-right: 20%;
}
.worldRecordsList li{
  margin-bottom: 4%;
}
/*****************************/


/*Animations for the images based on scrolling view; scales images up and down*/
@keyframes fadeIn{
  from {scale: 1.5; opacity: 1;}
  to {scale: 0.4; opacity: 1;}
}
@keyframes fadeIn2{
  from {scale: 0.6; opacity: 1;}
  to {scale: 1; opacity: 1;}
}
/*channels css*/

/*Title of page placement*/
#channels #channelsTitleRow{
  margin-left: 40%; 
}
/*Title styling*/
#channels #channelsTitleRow #header1{
  font-size: 3.2em; 
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif; 
}

/*grid layout for 3 column*/
.grid-container-channels{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 20px; 
}

/*text styling*/
.grid-item{
  font-size: 1.5em; 
  color: var(--nav-bkgd-color); 
  font-family: 'franchise', sans-serif; 
  margin-left: 30%; 
  align-items: center;
}

/*Title placement*/
.grid-item #smoshMainTitle{
  margin-left: 10%;
}
/*Main channel paragraph styling*/
.grid-item #mainPara{
    margin-left: -20%;
  margin-right: 25%; 
    font-size: 0.93em; 
}
/*Games channel paragraph styling*/
.grid-item #gamesPara{
  margin-left: -20%;
  margin-right: 25%; 
    font-size: 0.93em; 
}
/*Smosh Pit channel paragraph styling*/
.grid-item #pitPara{
  margin-left: -20%;
  margin-right: 25%; 
    font-size: 0.93em; 
}
/*Smosh Cast channel paragraph styling*/
.grid-item #castPara{
  margin-left: -20%;
  margin-right: 25%; 
  margin-bottom: 20%; 
    font-size: 0.93em; 
}
/*Smosh Alike channel paragraph styling*/
.grid-item #alikePara{
  margin-left: -20%;
  margin-right: 25%; 
  margin-bottom: 30%; 
    font-size: 0.93em; 
}
/*Smosh Cast link styling*/
.grid-item #castLink{
 margin-top: -10%;
  margin-bottom:10%; 
}
/*********************/
/*Channel pictures*/

/*Image styling for the Smosh Main channel*/
.grid-item #mainPic{
  position: relative; 
  justify-items: center; 
    margin-top: 30%; 
  margin-left: -13%; 
   width: 15vw; 
   height: 30vh; 
   background-image: url("images/smosh\ main.webp");
   background-size: cover; 
   background-position:center center;
}

.grid-item #gamesPic{
  position: relative; 
  justify-items: center; 
    margin-top: 30%; 
  margin-left: -13%; 
   width: 15vw; 
   height: 30vh; 
   background-image: url("images/smosh\ games.png");
   background-size: cover; 
   background-position:center center;
}

.grid-item #pitPic{
  position: relative; 
  justify-items: center; 
    margin-top: 30%; 
  margin-left: -13%; 
   width: 15vw; 
   height: 30vh; 
   background-image: url("images/pit.webp");
   background-size: cover; 
   background-position:center center;
}

.grid-item #castPic{
  position: relative; 
  justify-items: center; 
    margin-top: 30%; 
  margin-left: -13%; 
   width: 15vw; 
   height: 30vh; 
   background-image: url("images/cast.webp");
   background-size: cover; 
   background-position:center center;
}

.grid-item #alikePic{
  position: relative; 
  justify-items: center; 
    margin-top: 30%; 
  margin-left: -13%; 
   width: 15vw; 
   height: 30vh; 
   background-image: url("images/alike.webp");
   background-size: cover; 
   background-position:center center;
}
/****************************/


/*Blue "click here" Button Styling*/
.buttonLink {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff; 
    color: white; 
    text-decoration: none; /* Removes default link underline */
    border: none;
    border-radius: 4px;
    cursor: pointer; /* "hand" cursor on hover */
    font-size: 16px;
  }

/*darker button when hovered*/
.buttonLink:hover {
  background-color: #0056b3; /* Darker blue on hover */
}






/*Mobile repsonsive design*/ 
@media screen and (max-width: 600px) {
  nav{
   width: 105%
  }
  #home #titleRow{
   margin-left:27%; 
  }
  #home #showPic{
   width: 100%; 
    margin-left:0%; 
    height: 0; 
    padding-bottom: 55%; 
    background-size: contain; 
    background-repeat: no-repeat; 
  }

  #home #showPicRecords{
    width: 100%; 
    margin-left: 0%; 
  }
  
  #home #aboutRow #aboutHeader{
  margin-left: 10%; 
  }
  #home #aboutRow #aboutPara1{
    font-size: 1.1em;
    margin-left: 13%; 
    margin-right: 5%; 
  }
  #home #aboutRow #aboutPara2{
    font-size: 1.1em;
    margin-left: 13%; 
    margin-right: 5%; 
  }
  #home #aboutRow #aboutPara3{
    font-size: 1.1em;
    margin-left: 13%; 
    margin-right: 5%; 
  }
  #home #historyRow #historyHeader{
    margin-left: 10%; 
  }
  .achievmentsList{
    margin-left: 5%; 
    margin-right: 5%;
    font-size:1.1em; 
  }

  #home #historyRow #worldRecords{
    margin-left: 10%; 
  }

  #home #showPicRecords{
     width: 100%; 
    margin-left:0%; 
    height: 0; 
    padding-bottom: 55%; 
    background-size: contain; 
    background-repeat: no-repeat; 
  }

  .worldRecordsList li{
    margin-left: -30%; 
    margin-right: -20%;
    font-size: 0.8em; 
    margin-bottom: 20%; 
  }
  /*Made image animation smaller scale*/
  @keyframes fadeIn{
  from {scale: 2.1; opacity: 1;}
  to {scale: 0.4; opacity: 1;}
  }

  .grid-item{
    font-size: 1.5em; 
    color: var(--nav-bkgd-color); 
    font-family: 'franchise', sans-serif; 
    margin-left: 30%; 
  }
    
  .grid-container-channels{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto; 
    gap: 20px; 
  }

  #channelsTitleRow #header1{
    margin-left: -35vw;
    text-align: center; 
  }

   .grid-item #mainPic{
     width: 70vw; 
   height: 30vh; 
    margin-left: -15vw; 
  }
  
  .grid-item #mainPara{
    margin-left: -20%;
    margin-right: 23%; 
    font-size: 0.93em;
    text-align: center; 
  }

  .grid-item #gamesPic{
    width: 70vw; 
    height: 30vh; 
    margin-left: -15vw;
  }
   .grid-item #gamesPara{
    margin-left: -20%;
    margin-right: 23%; 
    font-size: 0.93em;
    text-align: center; 
  }

    .grid-item #pitPic{
    width: 70vw; 
    height: 30vh; 
    margin-left: -15vw;
  }
   .grid-item #pitPara{
    margin-left: -20%;
    margin-right: 23%; 
    font-size: 0.93em;
    text-align: center; 
  }
    .grid-item #castPic{
    width: 70vw; 
    height: 30vh; 
    margin-left: -15vw;
  }
   .grid-item #castPara{
    margin-left: -20%;
    margin-right: 23%; 
    font-size: 0.93em;
    text-align: center; 
    margin-bottom: 10%; 
  }

    .grid-item #alikePic{
    width: 70vw; 
    height: 30vh; 
    margin-left: -15vw;
  }
   .grid-item #alikePara{
    margin-left: -20%;
    margin-right: 23%; 
    font-size: 0.93em;
    text-align: center; 
     margin-bottom: 10%; 
  }
  .grid-item #alikeLink{
    margin-bottom: 20%; 
  }
  .buttonLink{
    margin-left: 3%; 
  }
}