/*CSS for responsive menu*/
/*Laptop*/
/*Defining variables*/
:root{
    --nav-height: 4rem; 
    --nav-bkgd-color: rgb(219,146,0); 
    --nav-text-color: white; 
    font-family: 'franchise', sans-serif; 
    --nav-hover-bkgd-color: lightgray; 
    --nav-hover-text-color: black; 
}

*{
    box-sizing: border-box;
}

body{
  margin: 0; 
  padding: var(--nav-height) 0 0 0; 
}
nav{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: var(--nav-height); 
    background-color: var(--nav-bkgd-color); 
    max-width: 100vw; 
}

#navBurger{
  position: relative; 
  display:block; 
  font-size: 3rem; 
  color: var(--nav-text-color); 
  padding: 0.1em 0 0 0.3em;
  max-height: 3rem; 
}

nav ul{
  position: relative; 
  background-color: var(--nav-bkgd-color); 
  list-style: none; 
  margin: 0; 
  padding: 0; 
}

nav > ul{
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 1s;  
}

nav.clicked>ul{
  max-height: 90vh; 
}

nav>ul>li{
  position: relative; 
  background-color: var(--nav-bkgd-color); 
  display:block; 
  margin: 1rem;
}

nav>ul>li>a{
  display: block; 
  width: 100%; 
  height: 100%; 
  padding: 0.5rem; 
}

nav>ul>li>ul{
  margin: 0 0 0 0.5rem; 
  background-color: inherit; 
}

nav > ul> li> ul> li{
  padding: 0.5rem 0 0.5rem 0.5rem; 

}

nav a {
  text-decoration: none; 
  color: var(--nav-hover-text-color); 
}

nav.li > hover a{
  color: var(--nav-hover-text-color); 
}

body{
  background-color: rgb(44, 43, 51); 
}

body#home main{
  display: grid; 
  grid-template-columns: repeat(3, auto); 
  grid-template-rows: repeat(6, auto); 
  grid-template-areas: 
    '. title .'
    '. pic .'
    '. about .'
    '. recordPic .'
    '. history .';
}
#home #aboutRow{
  grid-area: about; 
}
#home #showPic{
      grid-area: pic; 
    position: relative; 
    margin-left: 22%; 
   width: 52vw; 
   height: 70vh; 
   background-image: url("the-smosh-family-v0-9j4p9uamztxc1.webp");
   background-size: auto; 
   background-position:center center;
   animation: fadeIn linear;
   animation-timeline: view();  
}
#home #showPicRecords{
  grid-area: recordPic; 
    position: relative; 
    margin-left: 30%; 
   width: 35vw; 
   height: 60vh; 
   background-image: url("We_Broke_A_REAL_World_Record_YTCP_2.webp");
   background-size: auto; 
   background-position:center center;
   animation: fadeIn2 linear;
   animation-timeline: view();  
}
#home #aboutRow #aboutHeader{
  font-size: 1.8em; 
  color: var(--nav-bkgd-color);  
  font-family: 'franchise', sans-serif; 
  margin-left: 20%; 
}
#home #aboutRow #aboutPara1{
  font-size: 1.3em;
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif;
  margin-left: 21%; 
  margin-right: 20%;  
}
#home #aboutRow #aboutPara2{
     font-size: 1.3em;
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif;
  margin-left: 21%; 
  margin-right: 20%;
}
#home #aboutRow #aboutPara3{
     font-size: 1.3em;
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif;
  margin-left: 21%; 
  margin-right: 20%;
}
#home #historyRow{
  grid-area: history; 
}
#home #historyRow #historyHeader{
  font-size: 1.8em; 
  color: var(--nav-bkgd-color);  
  font-family: 'franchise', sans-serif; 
  margin-left: 20%; 
}
.achievmentsList{
  font-size: 1.3em;
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif;
  margin-left: 21%; 
  margin-right: 20%; 
}
#home #historyRow #worldRecords{
  font-size: 1.8em; 
  color: var(--nav-bkgd-color);  
  font-family: 'franchise', sans-serif; 
  margin-left: 20%;
}
.worldRecordsList{
  font-size: 1.3em;
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif;
  margin-left: 21%; 
  margin-right: 20%;
}
.worldRecordsList li{
  margin-bottom: 4%;
}
#home #titleRow{
  grid-area: title; 
  margin-left: 45%; 
}
#home #titleRow #header1{
  font-size: 3.2em; 
  color: rgb(85, 112, 213); 
  font-family: 'franchise', sans-serif; 
}
@keyframes fadeIn{
  from {scale: 1.5; opacity: 1;}
  to {scale: 0.4; opacity: 1;}
}
@keyframes fadeIn2{
  from {scale: 0.6; opacity: 1;}
  to {scale: 1; opacity: 1;}
}