 #name{
  font-size: 3.2em; 
  color: rgb(163, 146, 240); 
  font-family: 'franchise', sans-serif;
  text-align: center; 
}
#description{
  font-size: 1.7em; 
  color: rgb(218, 212, 245); 
  font-family: 'franchise', sans-serif;
  text-align: center; 
}

#gitLink{
  text-align: center; 
}

body{
  background-color: rgb(68 82 136); 
}


#activities {
  font-size: 1.7em; 
  color:rgb(163, 146, 240); 
  font-family: 'franchise', sans-serif;
}
#projects{
  font-size: 1.7em; 
  color:rgb(163, 146, 240); 
  font-family: 'franchise', sans-serif;
}

#majorTitle{
  font-size: 1.7em; 
  color:rgb(163, 146, 240); 
  font-family: 'franchise', sans-serif;
}

.grid-item #target{
    margin-left: 15%; 
}
/*grid layout for 3 column*/
.grid-container{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 20px; 
}

/*grid layout for 2 column*/
.grid-container-2{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 20px; 
}

.grid-item{
  margin-left: 15%; 
}


/*Blue "click here" Button Styling*/
.buttonLink {
    display: inline-block;
    padding: 12px 24px;
    background-color: #383464; 
    color: white; 
    text-decoration: none; /* Removes default link underline */
    border: none;
    border-radius: 4px;
    cursor: pointer; /* "hand" cursor on hover */
    font-size: 18px;
   font-family: 'franchise', sans-serif;
  }

/*darker button when hovered*/
.buttonLink:hover {
  background-color: #0251a6; /* Darker blue on hover */
}


@media screen and (max-width: 600px){
  
.grid-container{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 20px; 
}
  /*grid layout for 2 column*/
.grid-container-2{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 20px; 
}


}