

#name{
  font-size: 3.2em; 
  color: rgb(163, 146, 240); 
  font-family: 'franchise', sans-serif;
}
#description{
  font-size: 1.7em; 
  color: rgb(218, 212, 245); 
  font-family: 'franchise', sans-serif;
}



body{
  background-color: rgb(68 82 136); 
}

#activities {
  font-size: 1.5em; 
  color:rgb(163, 146, 240); 
  font-family: 'franchise', sans-serif;
}
#projects{
  font-size: 1.5em; 
  color:rgb(163, 146, 240); 
  font-family: 'franchise', sans-serif;
}

#majorProject{
  font-size: 1.5em; 
  color:rgb(163, 146, 240); 
  font-family: 'franchise', sans-serif;
}

/*grid layout for 3 column*/
.grid-container{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 20px; 
}

/*grid layout for 2 column*/
.grid-container-2{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 20px; 
}



/*Blue "click here" Button Styling*/
.buttonLink {
    display: inline-block;
    padding: 12px 24px;
    background-color: #0066ff; 
    color: white; 
    text-decoration: none; /* Removes default link underline */
    border: none;
    border-radius: 4px;
    cursor: pointer; /* "hand" cursor on hover */
    font-size: 18px;
  }

/*darker button when hovered*/
.buttonLink:hover {
  background-color: #0251a6; /* Darker blue on hover */
}
