/*Mobile format*/

*{
    box-sizing: border-box; 
    font-family: arial, sans-serif; 
}

body{
    padding: 0; 
    margin: 0; 
}

header{
    width: 100vw; 
    height: 100vh; 
}

#rhodPic{
    position: absolute; 
    width: 100vw; 
    height: 100vh; 
    background-image: url("Pacific\ Rhododendron\ 1\ -\ Walter\ Siegmund.jpeg"); 
    background-size: cover;
    background-position: center center; 
}

#rhodTitle {
    position: absolute; 
    width: 100vw; 
    height:100vh; 
}

#rhodTitle h1{
    position: absolute; 
    bottom: 0; 
    left: 1em;
    color:white; 
    font-size: 2.5em; 
    width: calc(100vw - 2em); 
}

    #rhodInformationNames{
        position: absolute;
        top: 100vh;  
        left: 1em; 
        left: 50vw; 
        text-align: left;
        font-size: 1.5em; 
        padding: 1cm;
        width: calc(100vw - 2em); 
    }
/*Needs to move up*/
    #rhodInformation{
        position: absolute; 
        top: 100vh; 
        right: 1em; 
        right: 50vw; 
        text-align: right;
        font-size: 1.5em;
        padding: 1cm;
        width: calc(100vw - 2em); 
    }

#footer p{
    position: absolute; 
    bottom: 0; 
}

/*Put rest of mobile baseline layout here*/
@media screen and (orientation: landscape){
    #rhodPic {
        width: 50vw; 
    }
    #rhodTitle{
        width: 50vw;
        left: 50vw; 
        background-color: #ce8c8c;
    }
    #rhodTitle h1{
        width: 45vw; 
    }
    #rhodInformationNames{
        width: 50vw;
        left: 50vw; 
        background-color: #BE7575; 
    }
    #rhodInformation{
        width: 50vw;
        top: 100vh; 
        left: 50vw; 
        background-color: #BE7575;
    }
    /*Put rest of desktop layout here*/
}


