/*CSS for responsive menu*/

/*Defining variables*/
:root{
    --nav-height: 3rem; 
    --nav-bkgd-color: gray; 
    --nav-text-color: white; 
    --nav-hover-bkgd-color: lightgray; 
    --nav-hover-text-color: black; 
}

*{
    box-sizing: border-box;
}

body{
  margin: 0; 
  padding: var(--nav-height) 0 0 0; 
}
nav{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 200%; 
    height: var(--nav-height); 
    background-color: var(--nav-bkgd-color); 
}

#navBurger{
  position: relative; 
  display:block; 
  font-size: 2rem; 
  color: var(--nav-text-color); 
  padding: 0.1em 0 0 0.3em;
  max-height: 2rem; 
}

nav ul{
  position: relative; 
  background-color: var(--nav-bkgd-color); 
  list-style: none; 
  margin: 0; 
  padding: 0; 
}

nav > ul{
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 1s;  
}

nav.clicked>ul{
  max-height: 90vh; 
}

nav>ul>li{
  position: relative; 
  background-color: var(--nav-bkgd-color); 
  display:block; 
  margin: 1rem;
}

nav>ul>li>a{
  display: block; 
  width: 100%; 
  height: 100%; 
  padding: 0.5rem; 
}

nav>ul>li>ul{
  margin: 0 0 0 0.5rem; 
  background-color: inherit; 
}

nav > ul> li> ul> li{
  padding: 0.5rem 0 0.5rem 0.5rem; 

}

nav a {
  text-decoration: none; 
  color: var(--nav-hover-text-color); 
}

nav.li > hover a{
  color: var(--nav-hover-text-color); 
}
nav.li > hover{
  background-color: var(--nav-hover-bkgd-color); 
}

/*Phone/Mobile*/

 #showPic{
   position: relative;
   top:0; 
   width: 100vw; 
   height: 46vh; 
   min-width:200px; 
   min-height:300px; 
   background-color:#ccc; 
   background-image: url("1200-Moist-Banana-Bread-SpendWithPennies-2023-3.jpg");
   background-size: cover; 
   background-position:center center; 
  }
#showPic h1{
  position: absolute;
  top:0; 
  font-size: 20px; 
  color: black; 
  bottom: 0; 
}
#Ingredients{
   position: relative; 
   display: block;
}
#Ingredients li{
margin-bottom: 6px; 
}
#Directions li{
  margin-bottom: 10px; 
}
#time{
  margin-left: 10px; 
}
  #footer{
    position: relative; 
    display:block; 
    text-align: left; 
    margin-top: 40px; 
  }

/*Laptop: Responsive Design*/
@media screen and (min-width: 768px){
  
  #showPic{
   position: relative; 
   float:right; 
   width: 25vw; 
   height: 41vh; 
   min-width: 50px; 
   min-height:300px; 
   background-color:#ccc; 
   background-image: url("1200-Moist-Banana-Bread-SpendWithPennies-2023-3.jpg");
   background-size: cover; 
   background-position:center center; 
   overflow: auto; 
  }
  
  #time p{
    position:relative; 
    /*display: block; */
    text-align:right; 
    margin-right: 26vw;
  }
  #footer{
    position: relative; 
    display:block; 
    text-align: left; 
    clear:both; 
    margin-top: 80px; 
  }
  #Title h1{
    position: relative;
    margin-top: 2vh;
    text-align: right; 
    font-size: 20px; 
    color: rgb(166, 105, 3); 
    margin-right: 3vw; 
    overflow: auto; 
  }
    #Ingredients {
       position: relative;
        display: block;
        float: left; 
        width:30%; 
    }
  #Directions {
      position: relative; 
      width: 35%; 
      float: left; 
      display: block;
      margin-left:6vw; 
    }

}

