
body{
  background-color: rgb(68 82 136); 
}


/*Blue "click here" Button Styling*/
.buttonLink {
    display: inline-block;
    padding: 12px 24px;
    background-color: #383464; 
    color: white; 
    text-decoration: none; /* Removes default link underline */
    border: none;
    border-radius: 4px;
    cursor: pointer; /* "hand" cursor on hover */
    font-size: 18px;
   font-family: 'franchise', sans-serif;
  }
