
body{
  background-color: rgba(250, 205, 190, 0.898); 
}


/*Blue "click here" Button Styling*/
.buttonLink {
    display: inline-block;
    padding: 12px 24px;
    background-color: #9f535fad; 
    color: white; 
    text-decoration: none; /* Removes default link underline */
    border: none;
    border-radius: 4px;
    cursor: pointer; /* "hand" cursor on hover */
    font-size: 18px;
   font-family: 'franchise', sans-serif;
  }
