/*home page styling*/
*{
    padding : 0; 
    margin: 0; 
}

/*Defining variables*/
:root{
    --nav-height: 4rem; 
    --nav-bkgd-color:  #d7dcb4; 
    --nav-text-color: white; 
    font-family: 'franchise', sans-serif; 
    --nav-hover-bkgd-color: lightgray; 
    --nav-hover-text-color: white; 
}

/*page color*/
body{
    min-height: 100vh; 
    background-color: #6e8c62;
}

nav{
    width: 40%; 
    margin-top: 2%; 
    height: var(--nav-height); 
    background-color: var(--nav-bkgd-color);
    position:center; 
    -webkit-border-radius: 25px; 
}

nav ul{
    list-style: none; 
    display: flex; 
    justify-content:center;
}

ul li{
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
}