/*home page styling*/
*{
    padding : 0; 
    margin: 0; 
}

/*Defining variables*/
:root{
    --nav-height: 4rem; 
    --nav-bkgd-color:  #d7dcb4; 
    --nav-text-color: white; 
    font-family: 'franchise', sans-serif; 
    --nav-hover-bkgd-color: lightgray; 
    --nav-hover-text-color: white; 
}

/*page color*/
body{
    min-height: 100vh; 
    background-color: #6e8c62;
}

nav{
    width: 25%; 
    margin-top: 2%; 
    margin-left: 35%; 
    height: var(--nav-height); 
    background-color: var(--nav-bkgd-color);
    position:center; 
    -webkit-border-radius: 30px; 
}

nav ul{
    list-style: none; 
    display: flex; 
    justify-content:center;
}

ul li{
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    text-decoration: none; /* Removes default link underline */
    
}

/*Blue "click here" Button Styling*/
.buttonLink {
    display: inline-block;
    padding:0.5px 20px;
    background-color: #5C7A4F; 
    color: #fff4d9; 
    text-decoration: none; /* Removes default link underline */
    border: none;
    border-radius: 60px;
    cursor: pointer; /* "hand" cursor on hover */
    font-size: 16px;
    margin-top: 5%; 
    font-size: 1.2em;
  }

/*darker button when hovered*/
.buttonLink:hover {
  background-color: #486940; /* Darker blue on hover */
}