/*Setting custom font*/
@font-face {
    font-family: 'kav';
    src: url('/PaintingDownloads/Kavoon-Regular.ttf') format('truetype');
      font-weight: normal;
  font-style: normal;
}

/*Setting custom font*/
@font-face {
    font-family: 'jua';
    src: url('/PaintingDownloads/Jua-Regular.ttf') format('truetype');
      font-weight: normal;
  font-style: normal;
}
/*home page styling default*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   /* add this line */
}
/*Defining variables*/
:root{
    --nav-height: 4rem; 
    --nav-bkgd-color:  #d7dcb4; 
    --nav-text-color:#fff4d9; 
    font-family: 'franchise', sans-serif; 
    --nav-hover-bkgd-color: lightgray; 
    --nav-hover-text-color: white; 
}

/*page color*/
body{
    min-height: 100vh; 
    background-color: #6e8c62;
}

nav{
    width: 25%; 
    margin-top: 2%; 
    margin-left: 38%; 
    height: var(--nav-height); 
    background-color: var(--nav-bkgd-color);
    position:center; 
    -webkit-border-radius: 30px; 
}

nav ul{
    list-style: none; 
    display: flex; 
    justify-content:center;
}

ul li{
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    text-decoration: none; /* Removes default link underline */
    
}

/*Blue "click here" Button Styling*/
.buttonLink {
    display: inline-block;
    padding:0.5px 20px;
    background-color: #5C7A4F; 
    color: var(--nav-text-color); 
    text-decoration: none; /* Removes default link underline */
    border: none;
    border-radius: 60px;
    cursor: pointer; /* "hand" cursor on hover */
    margin-top: 5%; 
    font-size: 1.2em;
  }

/*darker button when hovered*/
.buttonLink:hover {
  background-color: #486940; /* Darker blue on hover */
}

/*Page Information Grid Layout*/
body#home main{
  display: grid; 
  grid-template-columns: repeat(3, auto); 
  grid-template-rows: repeat(6, auto); 
  grid-template-areas: 
    'title title title'
    'descrip descrip desPic';
}

#home #name{
    grid-area: title; 
    margin-top: 10%;  
    text-align: center; 
}

#home #name #header1{
    font-family: 'kav', sans-serif;
    color: white; 
    font-size: 4em;
}

/*Introduction*/
#home #description{
    grid-area: descrip; 
    color: var(--nav-bkgd-color);
    background-color: #5C7A4F; /* box background color */
    max-width: 90%;
    padding: 30px 20px;  /* space inside the box */
    border-radius: 15px; /* rounded corners */
    margin: 10% auto; /* centers the box and adds space above */
    box-shadow: 0 1px 34px rgb(237 180 55 / 39%); /* optional subtle shadow */
    line-height: 1.6; 
    height: 100vh; 
}

/*Title*/
#home #description #introTit{
    color: var(--nav-text-color); 
    text-align: center; 
    font-size: 2.5em; 
     font-family: 'jua';
}
/*Paragraph*/
#home #description #introDesc{
    color: var(--nav-text-color); 
    text-align: left; 
    font-size: 1.8em;
    margin-top:5%; 
    font-family: 'jua';
    margin-right: 50%; 
    margin-left: 10%; 
}


#home #description #introPic{
    grid-area: desPic; 
    background-image: url("7S1A2848.jpg"); 
    width: 30%; 
    aspect-ratio: 4 / 3;  /* height auto-scales based on width */
    margin-left: 60%; 
    background-repeat: no-repeat;
    background-size: cover; 
}

/*Responsive for phone*/
@media screen and (max-width: 600px){

/*Navigation*/

    nav{
        width: 90%; 
        margin-top: 5%; 
        margin-left: 5%; 
        height: 3rem; 
        background-color: var(--nav-bkgd-color);
        position:center; 
        -webkit-border-radius: 30px; 
    }

    nav ul{
        list-style: none; 
        display: flex; 
        justify-content:center;
    }

    ul li{
        height: 50px;
        line-height: 50px;
        padding: 0 9px;
        text-decoration: none; /* Removes default link underline */
    }
   
    .buttonLink {
        display: inline-flex;
        align-items: center;        /* centers vertically */
        justify-content: center; 
        height: 80%; 
        padding:0.1px 9px;
        background-color: #5C7A4F; 
        color: var(--nav-text-color); 
        text-decoration: none; /* Removes default link underline */
        border: none;
        border-radius: 60px;
        cursor: pointer; /* "hand" cursor on hover */
        font-size: 1.1em;
    }

#home #description{
        margin-top: 30%; 
        margin-left: 10%; 
    }

    #home #description #introDesc{
        margin-top: 20%;
    }

    #home #description #introDesc{
        width: 80%; 
        font-size: 1.5em; 
    }

    #home #description #introPic{
        width: 80%; 
        aspect-ratio: 6 / 5;  /* height auto-scales based on width */
        margin-left: 10%; 
        margin-top: 10%; 
    }
}
